@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Alverbergstraat 63<br />
    3500 Hasselt<br />
    <abbr title="Telefoon">Tel:</abbr>
    +32 478 26 07 21

</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@cococo.be">support@cococo.be</a><br />
    <strong>Algemeen:</strong> <a href="mailto:info@cococo.be">info@cococo.be</a>
</address>
