@{
    ViewData["Title"] = "Reset passwoord bevestiging";
}

<h2>@ViewData["Title"]</h2>
<p>
    Uw passwoord is gereset. Gelieve <a asp-action="Login">hier te klikken</a> om opnieuw in te loggen.
</p>
