@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@using Kostuumotheek.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<li><a asp-area="" asp-controller="Catalogus" asp-action="Catalogus">Catalogus</a></li>
}
else
{
<li class="disabled" ><a asp-area="" asp-controller="Catalogus" asp-action="Catalogus">Catalogus</a></li>
}